@keyframes save-hovered {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes hovered {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 4;
  display: flex;
  align-content: center;
  justify-content: center;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupOpened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.popupTitle {
  font: 900 24px/29px 'Arial';
  margin-top: 36px;
  text-align: center;
}

.popupSubmitButton {
  width: 358px;
  height: 50px;
  margin: 48px auto 36px auto;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  font: 400 18px/22px 'sans-serif';
}

.popupSubmitButton:hover {
  cursor: pointer;
  animation: save-hovered 0.2s linear forwards;
}

.popupSubmitButtonTypeConfirm {
  margin-top: 38px;
}

.popupSubmitButtonDisabled {
  background-color: #fff;
  color: #000;
  opacity: 0.2;
  border: 1px solid;
}

.popupContainer {
  display: flex;
  margin: 0 auto;
  z-index: 3;
}

.popupContainerTypeForm {
  background-color: rgba(255, 255, 255, 1);
  width: 430px;
  position: fixed;
  top: calc(50% - 330px / 2);
  left: calc(50% - 430px / 2);
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popupCloseButton {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  left: calc(100% + 8px);
  top: -40px;
}

.popupCloseButton:hover {
  cursor: pointer;
  animation: hovered 0.2s linear forwards;
}

@media screen and (max-width: 700px) {
  .popupContainerTypeForm {
    width: 282px;
    top: calc(50% - 322px / 2);
    left: calc(50% - 282px / 2);
  }
  .popupSubmitButton {
    width: 238px;
    height: 46px;
    font: 400 14px/17px 'Inter';
  }
  .popupCloseButton {
    left: calc(100% - 20px);
    top: -36px;
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
  .popupTitle {
    font: 900 18px/1.21 'Inter';
    margin: 25px 0 0 22px;
  }
}
